*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboardBox{
    position: absolute;
    width:100%;
    height:100%;
}
.flex{
    display: flex;
    height:100%;
}
.smallSide{
    height:100%;
    position: relative;
    width:80px;
    background-color: #0090cc;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(100, 99, 99, 0.532);
}
.smallSide img{
    width:60px;
    height:60px;
    margin-top:40px;
}

.smallSide .bottom{
    position: absolute;
    bottom:25px;
    width: 100%;
    left:1px;
    color: #e2e2e2;
    text-decoration: none;
}
.bottom:hover{
    color: rgb(174, 179, 183);
}
.bigSide{
    width:calc( 100% - 80px );
    background-color: #003952;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.dasboardTop{
    position: absolute;
    top:0;
    left:0px;
    width:100%;
    border-bottom: 1px solid #005b82;
    height:40px;
    text-align: right;
    color:rgb(161, 161, 161);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right:16px;
}

.dashboard-content, .Submitted{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dashboard-content h5{
    color: bisque;
    font-size:15px;
}
.Submitted h5{
    color: rgb(99, 255, 99);
    font-size:15px;
}
.dashboard-content button, .Submitted button, .formBack{
    width:150px;
    height:30px;
    margin-top:10px;
    border: none;
    background: #0090cc;
    color: white;
    cursor: pointer;
}
.editInfo{
    width:90%;
    max-width:350px;
}
.formBack{
    width:100%;
    margin-top:5px;
}
.editInfo form{
    display: flex;
    flex-flow: column;
    margin-top:10px;
    width:100%;
}
.editInfo input{
    width:100%;
    max-width:350px;
    height: 35px;
    margin-bottom:13px;
    background-color: transparent;
    color:white;
    padding-left:10px;
    font-size:15px;
    border: none;
    border-radius:5px;
    border: 1px solid rgb(181, 180, 180);
}
#passMsg3{
    width:100%;
    text-align: center;
    color: #6dd3ff;
    padding-bottom:15;
    margin-bottom:10px;
}

.editInfo input[type="submit"]{
    background-color: #fff;
    color: #0090cc;
}